@model ERP_App.Models.AccountHeadMV
@{
    ViewBag.Title = "Account Head's";
}
<div class="col-lg-6">
    <div class="card card-default mb-6">
        <div class="card-header">New Account Head</div>
        <div class="card-body">
            @using (Html.BeginForm("CreateAccountHead", "AdminConfig", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(u => u.AccountHeadID)
                    @Html.HiddenFor(u => u.CreatedBy)
                    @Html.HiddenFor(u => u.UserID)
                    <div class="form-group">
                        @Html.LabelFor(model => model.AccountHeadName, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AccountHeadName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AccountHeadName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-success" />
                            @Html.ActionLink("Back", "AllAccountHeads", null, new { @class = "btn btn-outline-default" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>